a{
color:#cecece;

}
a:hover, a:focus {
    color: #ff6869 ; }

.side-nav li a{
  color:#fff;
  background-color:#000;
  padding-left:10px;
  height:200px;
}

.side-nav li a:hover{
  color:#fff;
  background-color:#ff6869;
  padding-left:10px;
}

ul, ol, dl {
  list-style:none;
  padding:5px;
}

button, .button{

  background-color:#000;
  border-color:#fff;

}

.tweet{
  padding-top:50px;
  padding-bottom:50px;
}

  button:hover, button:focus, .button:hover, .button:focus {
    background-color: #ff6869 ;
    color : #000;
    }


    
.arrow_button{

  left:0px;
  background:white;
  border: 1px solid;
  box-shadow:0px 0px 0px;
  margin-left:10px;
}

.arrow_button:hover {
  left:0px;
  background:white;
  border: 1px solid;
  margin-left:10px;
  box-shadow:1px 1px #f6a828 inset;  
}