a{
color:#cecece;

}
a:hover, a:focus {
    color: #ff6869 ; }

.side-nav li a{
  color:#fff;
  background-color:#000;
  padding-left:10px;
}

article #example1 ul li {
  list-style:none;
  overflow:hidden;
  border:1px solid #dedede;
  margin:5px;
  padding:5px;
}

button, .button{

  background-color:#000;
  border-color:#fff;

}

  button:hover, button:focus, .button:hover, .button:focus {
    background-color: #ff6869 ;
    color : #000;
    }