---
layout: default
title: links 
---



        <div id="home" class="large-8 columns">
          <div class="large-12 columns">
          <div class="row">
            <h6>Members - Here we are </h6>
            <ul>
              <li>
            <a href="http://hanbyul-here.net"> Hanbyul, Here </a> 
              </li>
              <li>
            <a href="http://onecodeaday.net"> One Code a Day </a> 
              </li>
              <li>
            <a href="http://www.sjnam.com/"> Sungjin Nam</a> 
            </li>
          </ul>

          </div>

          <div class="row">
            <ul id="team">
              <h6>Open Source - Where we are from</h6>


           </ul>
          
          </div>


          <div class="row">
            <ul>
              <h6>Inspiration - How to keep going</h6>
            {% for post in site.posts %}
              {% if post.categories contains 'links' %}    
                {% if post.subcategories contains 'inspiration' %}         
                 <li>
                  <a href="{{ post.linkto }}">
                    {{ post.title }}
                  </a>
                 </li>
              {% endif %} 
             {% endif %}
            {% endfor %}
           </ul>
          </div>

          <div class="row">

            <ul>
              <h6>Friends - Dunno they also think we are their friends</h6>
          	{% for post in site.posts %}
              {% if post.categories contains 'links' %}    
                {% if post.subcategories contains 'teams' %}         
                 <li>
                  <a href="{{ post.linkto }}">
                    {{ post.title }}
                  </a>
                 </li>
              {% endif %} 
             {% endif %}
            {% endfor %}
           </ul>
          </div>

        </div>
    <!-- End Thumbnails -->
 
 
    <!-- Managed By -->
          <div class="row">
            <div class="large-12 columns">
              <div class="panel">
                <div class="row">

                  <div class="large-2 small-6 columns">
                    <img src="http://placehold.it/300x300&text=Site Owner">
                  </div>
 
                  <div class="large-10 small-6 columns">
                    <h4> Support us  </h4>
                  </div>
 
                </div>
              </div>
            </div>
 
    <!-- End Managed By -->
 
          </div>
        </div>
      </div>

      <script>
$(document).ready(function(){
    $.getJSON("links.json",
        function(data){

            for(var i = 0; i<data.team.length;i++){

              var tempdata = data.team[i];
           //   console.log(data.team[i]);
          //    console.log(tempdata);
              $("#team").append('<li><a href=\"'+tempdata.url+'\">'+tempdata.title+'</a></li>')
            }
            //console.log(data.team[i].url);
        });
  });
</script>

