---
layout: default
title: Hanbyul Crew Blog
---

<!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">
 
 <article>
        <p>
   
            <div style="padding-bottom:20px;" class="large-4 small-6 columns">
                            <img src="http://placehold.it/500x500&text=Thumbnail">
            </div>

 
            <div style="padding-bottom:20px;" class="large-4 small-6 columns">
                  <img src="http://placehold.it/500x500&text=Thumbnail">
            </div>
 

            <div style="padding-bottom:20px;" class="large-4 small-6 columns">
                            <img src="http://placehold.it/500x500&text=Thumbnail">
            </div>
 

            <div style="padding-bottom:20px;" class="large-4 small-6 columns">
                       <img src="http://placehold.it/500x500&text=Thumbnail">
            </div>
 


            <div style="padding-bottom:20px;" class="large-4 small-6 columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">
            </div>

            <div style="padding-bottom:20px;" class="large-4 small-6 columns">
                   <img src="http://placehold.it/500x500&text=Thumbnail">
            </div>
   
        </p>
  
      </article>
 
    
    </div>
 
    <!-- End Main Content -->
 
 
    <!-- Sidebar -->
 
    <aside class="large-3 columns">


<h5>web</h5>

      <ul class="side-nav">
            {% for post in site.posts %}
                {% if post.subcategory contains 'web' %}
                <li>
                  <a href="{{ post.url }}">
                        {{ post.title }}
                     </a>
                  </li>
                   {% endif %}
            {% endfor %}
   
      </ul>
    <h5>installation</h5>
      <ul class="side-nav">
         {% for post in site.posts %}
              
                      {% if post.subcategory contains 'installation' %}
                <li>
                  <a href="{{ post.url }}">
                        {{ post.title }}
                     </a>
                  </li>
                   {% endif %}
                   {% endfor %} 
 
      </ul>
     <h5>etc</h5>
      <ul class="side-nav">
             {% for post in site.posts %}
                      {% if post.subcategory contains 'etc' %}
                <li>
                  <a href="{{ post.url }}">
                        {{ post.title }}
                     </a>
                  </li>
                   {% endif %}

         {% endfor %}
      </ul>
 


    </aside>
 
    <!-- End Sidebar -->
  </div>
